@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

.highlight-text {
  color: #0d2f5c;
}
.subtext {
  color: #333333;
}
.background-primary {
  background-color: #7399c6;
}
.background-secondary {
  background-color: #0d2f5c;
}
